
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.calcborder{
  background-color: white;
  margin: 0;
  padding: 0;
  
}
#casio{
    font-size: large;
    margin-left: 15px;
    color: black; 
    font-size: 40px;
}
.maincalc div{
    margin-top: 10px;
}
.maincalc{
    background-color: grey;
    font-weight: 700;
    padding-right: 15px;
    padding-bottom: 15px;
    width:400px;    

}
.header-1 .row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
#screen{
    width: 353px;
    height: 87px;
    border: 2px solid cyan;
    border-radius: 13px;
    margin-left: 15px;
    pointer-events: none;
    text-align: right;
    font-size: 35px;
    background-color: black;
    color: white;
}
.botton{
    width: 63px;
    height: 49px;
    margin-top: 25px;
    margin-left: 24px;
    background: black;
    color: cyan;
    border: 2px solid cyan;
}
.botton:hover{
    border: 5px solid;
    transform: scale(1.1);
    
}
